.banner {
  width: 100%;
  aspect-ratio: 16/9;
  background-image: url(./banner-photo.jpg);
  background-size: cover;
  background-position: right;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: rgba(72, 60, 50, 0.5);
  padding: 0.5%;
  align-items: center;
  font-size: 1.3rem;
  height: auto;
}

.header-text {
 color: white;
 padding-left: 2%;
 font-weight: 600;
}

.navigation {
  display: flex;
  flex-direction: column-reverse;
  flex-basis: 30%;
}

.navigation-button {
  display: flex;
  justify-content: end;
   padding-right: 5%;
}

.rollout-menu {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 5%;
}

a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.menu--close {
  display: none;
}

.menu--btn {
  background-image: url(./../../img/menu-icon.svg);
  background-size: cover;
  width: 2rem;
  height: 2rem;
  margin: 0.75rem;
  border: none;
  cursor: pointer;
  display: block;
  background-color: transparent;
} 


