.about-container {
 display: flex;
 background-color: #E3DAC9;
 justify-content: space-between;
}

.about-me {
  display: flex;
  justify-content: end;
  flex-basis: 40%;
  background-color:#483C32;
}
.about-photo {
padding: 5%;
width: 70%;
}

.about-information {
flex-basis: 50%;
}

.about-text {
  padding: 5%;
}
